.main-part-card{
    width: 800px;
    height:260px;
    background-color:rgba(255, 143, 39, 1);
    display:flex;
 margin-left: auto;
 margin-right: auto;
 margin-top: 30px;
 
    border-radius: 20px;
}
.main-part-title{
    color: #f7f7f7;
    font-family: Nunito;
font-style: normal;
font-weight: 900;
font-size: 47px;
line-height: 50px
}
.main-part-text{
    color: #f7f7f7;
    font-family: Nunito;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 22px;

}
.main{
    margin-left: 30px;

}
.main-part-img{
    margin-top: 14px;
}
.headline{
    display: flex;
    justify-content:space-between;
    
    width: 800px;
    height:32px;
    margin-left: auto;
    margin-right: auto;

}
.headline-text{
    color: #0f0f0f;
    font-family: Nunito;
font-style: normal;
font-weight: 800;
font-size: 28px;
line-height: 32px;
}
.headline-button{
    width: 25px;
    height: 25px;
    margin-left: -60px;
    border-radius: 50%;
    border-color: transparent;
    padding:3px 6px;
  
}
.headline-btn{
    margin-top:30px;
    background-color:#f7f7f71a;
    
}
.cards{
    width: 800px;
    display: flex;
   margin-left:auto;
   margin-right: auto;
   margin-top: 30px;
    
}
.card-big-img{
    margin-left: -30px;
}
.card1{
    width: 190px;
    height:359px;
  
 position: relative;
margin-left: 20px;
}
.card-badge{
    position: absolute;
    top: 10px;
    left: -20px;
}
.card-heart{
    position: relative;
    top: -100px;
    left: 150px;
}
.card-text1{
    font-family: Nunito;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 4px;
color: #7B8E98;
}
.card-text2{
    font-family: Nunito;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
color: #181717;
}
.card-badge2{
    position: absolute;
    left: -10px;
    top: 20px;
}
.cart-button{
    width: 115px;
    height: 40px;
    background-color:rgba(254, 215, 0, 1);
border: none !important;
border-radius:22px;
margin-top:20px;
}
.cart-button2{
    width: 115px;
    height: 40px;
    background-color:rgba(254, 215, 0, 1);
border: none !important;
border-radius:22px;
margin-top:60px
}
.cart-button3{
    width: 115px;
    height: 40px;
    background-color:rgba(254, 215, 0, 1);
border: none !important;
border-radius:22px;
margin-top:40px
}
.cart-button4{
    width: 115px;
    height: 40px;
    background-color:rgba(254, 215, 0, 1);
border: none !important;
border-radius:22px;
margin-top:40px;
}
.flex-cards{
    display: flex;
    justify-content: center;
    margin-top: 28px;

}
.flex-card1{
    width: 428px;
    height:220px;
    background-color:rgba(216, 162, 23, 1);
    border-radius:20px;
    border: none;
    color:  #f7f7f7;
    margin-right: 10px
  
    
}
.flex-card2{
    width: 428px;
    height:220px;
    background-color:rgba(36, 181, 190, 1);
    border-radius:20px;
    border: none;
    color:  #f7f7f7;
    margin-left: 10px;
  
    
}
.flex-card-title{
    font-family:$font-primary ;
font-style: normal;
font-weight: 800;
font-size: 32px;
line-height: 90%;
margin-left: 30px;
}
.flex-card-title2{
    width: 90px;
    font-family:$font-primary ;
font-style: normal;
font-weight: 800;
font-size: 32px;
line-height: 90%;
margin-left: 30px;
}
.flex-card-title3{
    width: 200px;
    font-family:$font-primary ;
font-style: normal;
font-weight: 800;
font-size: 32px;
line-height: 90%;
margin-left: 30px;
}
.flex-card-text{
    font-family: $font-primary ;
    font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
margin-left: 30px;
}
.flex-card-text2{
    font-family: $font-primary ;
    font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
margin-left: 30px;
 width: 230px;
}

.flex-card-price{
    font-family:$font-primary;
    font-style: normal;
font-weight: 800;
font-size: 28px;
line-height: 32px;
margin-left: 30px;
}
.flex-card-price2{
    font-family:$font-primary;
    font-style: normal;
font-weight: 800;
font-size: 19px;
line-height: 32px;
margin-left: 30px;
}
.flex-card-img{
    width: 300px; 
    height:218px;
   border-radius: 18px;
background-blend-mode: overlay;

    position: relative;
    top: -217px;
    left: 126px;
}
.flex-card-img2{
    width: 300px; 
    height:218px;
   
background-blend-mode: overlay;

    position: relative;
    top: -181px;
    left: 125px;
}
.flex-card-img3{
    width: 280px; 
    height:200px;
   
background-blend-mode: overlay;

    position: relative;
    top: -176px;
    left: 145px;
    border-radius: 12px;
}
.cart-button-2{
    width: 115px;
    height: 40px;
    background-color:rgba(254, 215, 0, 1);
border: none !important;
border-radius:22px;
margin-top:20px
}
.cart-button-3{
    width: 115px;
    height: 40px;
    background-color:rgba(254, 215, 0, 1);
border: none !important;
border-radius:22px;
margin-top:2px;
}
.cart-button-one{
    width: 115px;
    height: 40px;
    background-color:rgba(254, 215, 0, 1);
border: none !important;
border-radius:22px;
margin-top: 24px;

}
.flex-card3{
    width: 428px;
    height:220px;
    background-color:rgba(156, 205, 85, 1);
    border-radius:20px;
    border: none;
    color:  #f7f7f7;
    margin-right: 10px
  
    
}
.flex-card4{
    width: 428px;
    height:220px;
    background-color:rgba(219, 104, 37, 1);
    border-radius:20px;
    border: none;
    color:  #f7f7f7;
    margin-left: 10px;
  
    
}
.boxes{
    display: flex;
    justify-content:center;
    margin-top:60px;
    margin-left: 30px;
}
.card-box-text{
width: 206px;
height:48px;
font-family: Nunito;
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 24p
}
.flex-dogs{
    display: flex;
    justify-content: center;
    margin-top:40px;
}
.flex-dogs-flex-box{
display: flex;
justify-self: center;
   
}
.flex-dogs-flex-box-text{
    font-family: Nunito;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
color: rgba(123, 142, 152, 1);
margin-top:-2px;
margin-left: 5px;
}
.flex-dogs-text{
    font-family: Nunito;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
color: rgba(26, 26, 26, 1);
width: 200px;
margin-top: -10px;
}
.info-cards{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.section1{
    display: flex;
    
    margin-left: -50px;

}
.section-text{
    width: 200px;
    font-family: Nunito;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px; 
color: rgba(26, 26, 26, 1);
}
.section-button{
     border-radius:20px;
     padding:5px 10px;
     border-color: transparent;
     box-shadow: 5px 5px 5px rgba(123, 142, 152, 1);
     margin-top:20px;
     margin-left: -10px;
}
.section-link{
    text-decoration: none;
    color: rgba(26, 26, 26, 1);
   
}
.section2{
    margin-left:30px;
}
.middle-part{
    display: flex;
}
.middle-part-text{
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 14px;
    color: rgba(123, 142, 152, 1);
    margin-left: 10px;
    margin-top: 23px;
}
.middle-part-text2{
    width: 408px;
    height:140px;
}
.photos{
    margin-top:-70px;
    
}
.photos-img{
    margin-right: 10px;
}
.main-part-card2{
    width: 800px;
    height:260px;
    background-color:rgba(255, 143, 39, 1);
    display:flex;
margin-left:auto;
margin-right:auto ;
 margin-top: 30px;
 
 
    border-radius: 20px;
}